@import url("https://fonts.googleapis.com/css2?family=Karla&display=swap");
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Karla", "Courier New", Courier, monospace;
  background-color: whitesmoke;
}

.header {
  background-color: rgb(47, 216, 216);
  color: white;
  display: flex;
  align-items: center;
  height: 20%;
  width: auto;
  font-size: large;
  justify-content: space-between;
  padding: 0px 30px;
}

a {
  color: white;
}

.actions {
  display: flex;
  justify-items: end;
  justify-content: space-between;
}

#signup {
  margin-left: 0.5rem;
}

.container {
  margin: 0px 20%;
}

.card {
  position: relative;
  margin: 1.5rem 0;
  padding: 2px 10px;
  border-radius: 20px;
  background-color: white;
  box-shadow: 5px 10px #e7e7e7;
}

.desc {
  width: 80%;
}

.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0.5rem;
}

.visit,
button {
  cursor: pointer;
  background-color: #2fd8d8;
  color: white;
  font-size: large;
  border-radius: 0.5em;
  padding: 0.25rem 0.75rem;
}

button {
  border: none;
  outline: none;
  height: 2rem;
}

.badge {
  position: absolute;
  background-color: yellow;
  width: min-content;
  padding: 0.5em;
  transform: translate(-100%, 100%) rotate(270deg);
}

form {
  display: grid;
  grid-template-columns: 4fr;
  row-gap: 8px;
}

#form-container {
  display: flex;
  justify-content: space-between;
}

input,
textarea {
  background: #ffffff;
  outline: none;
  border: none;
  font-family: "Karla";
  font-size: 16px;
  padding: 0.25rem;
  box-shadow: rgba(0, 0, 0, 0.11);
  border-radius: 1rem;
  padding: 0 0.5rem;
  min-height: 1.5rem;
}

[type="radio"] {
  width: 1rem;
}

label {
  display: flex;
  align-items: center;
}

#submit {
  margin: 1rem 25%;
}

.delete,
.edit {
  position: absolute;
  cursor: pointer;
  top: 12%;
  color: rgb(180, 180, 180);
}
.delete {
  right: 3%;
}
.delete:hover {
  color: red;
}

.edit {
  right: 6%;
}
.edit:hover {
  color: black;
}

#sign {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-block: 2rem;
}

#name,
#email,
#password {
  height: 2rem;
  width: 30%;
}

.oauth-container {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.loadingSpinnerContainer {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 5000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loadingSpinner {
  width: 64px;
  height: 64px;
  border: 8px solid;
  border-color: #2fd8d8 transparent #2fd8d8 transparent;
  border-radius: 50%;
  animation: spin 1.2s linear infinite;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
